.copyright {
  font-size: 1.4rem;
  padding: 3rem 0;
  display: block;
  text-align: center;
  background-color: var(--color-text);
  color: var(--color-white);
  border-top: 1px solid var(--color-grey);
}
