@use '../../sass/abstract/variables' as *;

.form-control {
  margin-bottom: 2rem;

  &.invalid {
    .form-control__input {
      border: 1px solid var(--color-delete);
      &:focus,
      &:active {
        box-shadow: 0 0 1px 4px rgba(#ff3366, 0.25);
        border-color: var(--color-delete);
      }
    }
  }

  &__input {
    border: 1px solid var(--color-grey);
    width: 100%;
    resize: none;
    padding: 1.2rem 1.5rem;
    border-radius: 6px;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: 0.01em;

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0 1px 4px rgba(#22d3ee, 0.25);
      border: 1px solid var(--color-secondary);
    }
  }
}

.error-text {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-delete);
  display: flex;
  align-items: center;

  svg {
    font-size: 1.4rem;
    margin-right: 0.5rem;
  }
}
