.footer-links {
  // margin-top: 4.8rem;
  text-transform: capitalize;
  strong {
    text-transform: none;
  }

  &__links {
    list-style: none;
  }
  &__item {
    &:not(:first-child) {
      margin: 1.25rem 0;
    }
  }

  &__link {
    &:focus,
    &:hover,
    &:active {
      color: var(--color-primary-light);
    }
  }
}
