.h-xl {
  font-size: 4rem;
  font-weight: 700;
}

.h-l {
  font-size: 3rem;
  font-weight: 700;
  // margin-bottom: 12rem;
}

.h-m {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.h-s {
  font-size: 1.8rem;
  font-weight: 400;
}

.h-xs {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.3;
}
