@use '../../sass/abstract/variables' as *;

.wrapper {
  margin: 0 auto;
  max-width: $max-width;
  padding-left: 5%;
  padding-right: 5%;

  // @media screen and (min-width: $md) {
  //   padding-left: 2%;
  //   padding-right: 2%;
  // }

  // @media screen and (min-width: $lg) {
  //   padding-left: 0%;
  //   padding-right: 0%;
  // }
}
