@use 'sass:math';
@use './sass/abstract/variables' as *;
@use './sass';

html {
  // Converting 10px into percentage %
  font-size: math.div(100, 16) * 10%;
  // font-size: 10px;
  // 62.5% = 10px
}

body {
  font: $font-weight $font-size $font-primary;
  color: var(--color-text);
  background-color: var(--color-light);
}
